TutorMentorNative/npm-debug.log
TutorMentorNative/.expo/packager-info.json
TutorMentorNative/node_modules/
TutorMentorNative/.expo/settings.json
TutorMentorBackend/node_modules/.bin/atob
TutorMentorBackend/node_modules
